@charset "UTF-8"
/* -*- coding: utf-8 -*- */
/*
 * one-OPiQuotation.sass -> one-OPiQuotation.css (October 24, 2019)
 *
 * Piece of OPiQuotations.
 * https://bitbucket.org/OPiMedia/opiquotations
 *
 * GPLv3 --- Copyright (C) 2014, 2015, 2016, 2019 Olivier Pirson
 * http://www.opimedia.be/
 */

// Font
@font-face
  // http://www.fontsquirrel.com/fonts/comme (Vernon Adams)
  // converted to WOFF and WOFF2 by https://transfonter.org/
  font-family: Comme
  src: url(../fonts/Comme/Comme-Light.woff2) format("woff2"), url(../fonts/Comme/Comme-Light.woff) format("woff")

// Fix bug of Comme font.
// See http://www.opimedia.be/DS/webdev/bugs-list/Bug-in-dash-character-of-Comme-Light-ttf-Vernon-Adams-font-with-recent-browsers/
span.Comme-fix
  display: inline-block
  min-width: 0.75ex
  text-align: left



// Color constants
$bg-color-control-panel: #f8f8f8

$bg-color-maxim: #fdedd0
$bg-color-maxim-infos: #edddc0

$bg-color-quotation: #fdfdd0
$bg-color-quotation-infos: #ededc0



// Set for old browsers
footer,
header,
main,
section
  display: block



// Extern links
a[href^="mailto:"]
  color: #007000

a[href^="http://"]:before,
a[href^="https://"]:before,
a[href^="mailto:"]:before
  background-position: left bottom
  background-repeat: no-repeat

  content: ""
  display: inline-block
  height: 10px
  opacity: 0.5
  vertical-align: text-bottom
  width: 12px

a[href^="http://"]:before
  background-image: url(../img/external-link--10x10-t.png)

a[href^="https://"]:before
  background-image: url(../img/external-link-https--8x10-t.png)

  width: 10px

a[href^="http://"]:focus:before,
a[href^="http://"]:hover:before,
a[href^="https://"]:focus:before,
a[href^="https://"]:hover:before,
a[href^="mailto:"]:focus:before,
a[href^="mailto:"]:hover:before
  opacity: 1

a[href^="mailto:"]
  &:before
    content: "\2709"  /* &#9993; */
    margin-right: 0.2ex

a[target]:before
  background-image: none
  display: inline
  content: "\2197"  /* &#8599; */
  height: auto
  opacity: 1
  vertical-align: baseline
  width: auto

a.no-prefix:before
  content: none



// Classes
.block-center
  display: block
  text-align: center !important

.block-right
  display: block
  text-align: right !important


.center
  text-align: center

.right
  text-align: right


.clear
  clear: both


.float-right
  float: right !important


.no-display
  display: none


.nowrap
  white-space: nowrap


.surname
  font-variant: small-caps !important



// Style
body
  font-family: Verdana, sans-serif
  margin: 0
  padding: 0


  a
    border-bottom: 1px dotted silver
    color: black
    outline: none !important
    text-decoration: none

    &:hover
      border-bottom: 1px solid black


  > footer
    margin: 0 1ex
    text-align: right

    > a
      background-image: url(../img/OPiQuotations-32x32-t.png)
      background-repeat: no-repeat
      background-position: right center

      display: inline-block
      height: 32px
      line-height: 32px
      padding-right: 36px

      > span
        font-family: Comme, Verdana, sans-serif


  > main
    padding: 3px 1ex 1ex 0
    margin: 0

    > section.maxim,
    > section.quotation
      background-color: $bg-color-quotation
      border-radius: 1em
      box-shadow: 1ex 1ex 1ex silver
      font-family: Comme, Verdana, sans-serif
      margin: 0
      overflow: hidden
      padding: 1em
      position: relative

      > div.text,
      > div.text_translation
        margin: 1ex 0
        text-align: justify

        cite
          font-style: normal

      > div.text_translation
        display: flex

        > div.text
          padding-right: 1em
          width: 50%

        > div.translation
          border-left: solid 1px black
          padding-left: 1em
          width: 50%

      > footer
        > div.author
          background-color: $bg-color-quotation-infos
          padding: .5ex
          text-align: right

        > div.work
          background-color: $bg-color-quotation-infos
          font-style: italic
          padding: .5ex
          text-align: right

      > header
        > aside.mark
          background-image: url(../img/paper-clip-35x50-t.png)
          background-repeat: no-repeat

          height: 50px
          position: absolute
          right: 2em
          top: -3px
          width: 35px
          z-index: 11

        > h1.subject
          background-color: $bg-color-quotation-infos
          border-radius: 1em 1em 0 0

          font-size: medium
          font-weight: normal

          margin: 4px 0 0
          padding: .5ex
          text-align: center

        > nav.id
          font-size: small
          left: 2.5em
          position: absolute
          top: 0
          width: 100%

          > a
            margin-left: 2em

            &:first-child
              margin: 0

          > div.sharing
            border-bottom: 1px dotted silver
            cursor: pointer
            display: inline
            margin-left: 2em

            &:hover
              border-bottom: 1px solid black

            > span
              background-image: url(../img/share-12x12-t.png)
              background-position: right center
              background-repeat: no-repeat

              padding-right: 16px

            > ul
              background-color: $bg-color-control-panel
              border-top: 2px solid silver

              border-bottom-left-radius: 1em
              border-bottom-right-radius: 1em

              box-shadow: 1ex 1ex 1ex silver
              cursor: auto
              left: 0
              list-style: none
              padding: 0 8px
              position: absolute
              top: 4px
              width: ((32px + 16px)*5 + 16px + 24px)
              z-index: 21

              > li
                display: inline-block
                margin: 16px 8px

                > a
                  border-bottom: 0 none
                  opacity: 0.75

                  &:before
                    content: none

                  &:hover
                    opacity: 1

                &.close
                  border-bottom: 1px solid black
                  border-left: 1px solid black

                  cursor: pointer
                  font-size: x-large
                  height: 24px
                  line-height: 24px
                  margin: 0
                  padding: 0
                  position: absolute
                  right: 0
                  text-align: center
                  top: 0
                  width: 24px

                  &:hover
                    font-weight: bold

          > ul.selections
            display: inline
            list-style: none
            margin: 0
            padding: 0
            position: absolute
            right: 8em
            top: 0
            z-index: 31

            > li
              display: inline
              margin-left: 1em

              &:first-child
                margin-left: 0

              > a,
              > span
                background-image: url(../img/Web-t.png)
                background-position: right center
                background-repeat: no-repeat
                background-size: 16px 16px

                cursor: pointer
                display: inline-block
                height: 16px
                line-height: 16px
                padding-right: 16px
                vertical-align: middle

              > a
                &:before
                  background-image: none

                &:not([target]):before
                  content: none

              > span
                border-bottom: 1px solid transparent
                opacity: 0.5

              &.Facebook, &.Twitter
                > a,
                > span
                  background-image: url(../img/sharing/Twitter-t.png)
                  padding-right: 18px

              &.Facebook
                > a,
                > span
                  background-image: url(../img/sharing/Facebook-t.png)

    > section.maxim
      background-color: $bg-color-maxim

      > footer
        > div.nation
          background-color: $bg-color-maxim-infos
          padding: .5ex
          text-align: right

      > header
        > h1.subject
          background-color: $bg-color-maxim-infos



// If print
@media print
  body
    a
      border-bottom: 0 none

      &:before
        content: none !important

    > main
      padding-left: 0

      > section.maxim,
      > section.quotation
        background-color: white
        border: 1px solid silver
        box-shadow: none
        padding: 1ex 1em

        *
          background-color: white !important

        > header
          > aside.mark
            display: none

          > nav.id
            top: 3ex

            > a.one-OPiQuotation, div.sharing, ul.selections
              display: none
