@charset "UTF-8"
/* -*- coding: utf-8 -*- */
/*
 * style.sass -> style.css (October 24, 2019)
 *
 * Piece of OPiQuotations.
 * https://bitbucket.org/OPiMedia/opiquotations
 *
 * GPLv3 --- Copyright (C) 2014, 2015, 2016, 2017, 2019 Olivier Pirson
 * http://www.opimedia.be/
 */

// Font
@font-face
  // http://www.fontsquirrel.com/fonts/comme (Vernon Adams)
  // converted to WOFF and WOFF2 by https://transfonter.org/
  font-family: Comme
  src: url(../fonts/Comme/Comme-Light.woff2) format("woff2"), url(../fonts/Comme/Comme-Light.woff) format("woff")

// Fix bug of Comme font.
// See http://www.opimedia.be/DS/webdev/bugs-list/Bug-in-dash-character-of-Comme-Light-ttf-Vernon-Adams-font-with-recent-browsers/
span.Comme-fix
  display: inline-block
  min-width: 0.75ex
  text-align: left



// Color constants
$bg-color-control-panel: #f8f8f8
$bg-color-control-panel-sub: #e8e8e8

$bg-color-maxim: #fdedd0
$bg-color-maxim-infos: #edddc0

$bg-color-quotation: #fdfdd0
$bg-color-quotation-infos: #ededc0



// Size
$control-panel-width: 16em



// Set for old browsers
footer,
header,
main,
section
  display: block



// Extern links
a[href^="mailto:"]
  color: #007000

a[href^="http://"]:before,
a[href^="https://"]:before,
a[href^="mailto:"]:before
  background-position: left bottom
  background-repeat: no-repeat

  content: ""
  display: inline-block
  height: 10px
  opacity: 0.5
  vertical-align: text-bottom
  width: 12px

a[href^="http://"]:before
  background-image: url(../img/external-link--10x10-t.png)

a[href^="https://"]:before
  background-image: url(../img/external-link-https--8x10-t.png)

  width: 10px

a[href^="http://"]:focus:before,
a[href^="http://"]:hover:before,
a[href^="https://"]:focus:before,
a[href^="https://"]:hover:before,
a[href^="mailto:"]:focus:before,
a[href^="mailto:"]:hover:before
  opacity: 1

a[href^="mailto:"]
  &:before
    content: "\2709"  /* &#9993; */
    margin-right: 0.2ex

a[target]:before
  background-image: none
  display: inline
  content: "\2197"  /* &#8599; */
  height: auto
  opacity: 1
  vertical-align: baseline
  width: auto

a.no-prefix:before
  content: none



// Classes
.block-center
  display: block
  text-align: center !important

.block-right
  display: block
  text-align: right !important


.center
  text-align: center

.right
  text-align: right


.clear
  clear: both


.float-right
  float: right !important


.no-display
  display: none


.monospace
  font-family: monospace


.no-decoration
  border-bottom: 0 none
  text-decoration: none

  &:hover
    border-bottom: 0 none


.nowrap
  white-space: nowrap


.surname
  font-variant: small-caps !important


.URL
  font-family: monospace



// Style
body
  font-family: Verdana, sans-serif
  margin: 0
  padding: 0


  a
    border-bottom: 1px dotted silver
    color: black
    outline: none !important
    text-decoration: none

    &:hover
      border-bottom: 1px solid black

  a.icon-Facebook,
  a.icon-Twitter,
  a.icon-Web
    background-image: url(../img/sharing/Facebook-t.png)
    background-position: left center
    background-repeat: no-repeat
    background-size: 16px 16px

    display: inline-block
    min-height: 16px
    padding-left: 20px
    vertical-align: bottom

  a.icon-Twitter
    background-image: url(../img/sharing/Twitter-t.png)

  a.icon-Web
    background-image: url(../img/Web-t.png)


  button
    cursor: pointer
    font-size: medium
    line-height: 2ex
    margin: 0
    padding: 1px 1ex

  input
    margin: 0
    padding: 0

  input[type=submit]
    cursor: pointer

  button::-moz-focus-inner,
  input::-moz-focus-inner
    border: 0
    margin: 0
    padding: 0


  h1,
  h2,
  h3
    margin: 0
    text-align: center


  img
    border: 0 none
    vertical-align: middle


  > main
    margin: 0
    padding-left: ($control-panel-width + 2em)

    > h1
      background-color: $bg-color-control-panel
      background-image: url(../img/C-est-a-l-heure-du-commencement--Dune--Frank-Herbert.jpg)
      background-repeat: no-repeat
      background-size: cover

      font-family: Comme, Verdana, sans-serif

      > a
        color: #606060
        display: block
        height: 100px
        line-height: 100px
        opacity: 0.9

        &:hover
          color: black
          opacity: 1

        > span
          background-image: url(../img/OPiQuotations-64x64-t.png)
          background-repeat: no-repeat
          background-position: right center

          display: inline-block
          height: 64px
          line-height: 64px
          padding-right: 68px

    > header
      border-bottom: solid 1px silver
      box-shadow: 1ex -1ex 1ex silver
      min-height: 2ex
      padding: 1ex 1em 2px 2em

      > div.page-links
        border-bottom: solid 1px silver
        border-top: solid 1px silver

        margin: 0.5ex 0
        padding: 0

        > ul
          display: inline
          list-style: none
          margin: 0
          padding: 0

          > li
            display: inline
            line-height: 3ex
            margin: 0
            padding: 0

            &.selected
              border: solid 1px black

              > a
                margin: 0 2px

            > a
              margin: 0 4px
              padding: 0

      > small
        float: right
        padding: 2px

      > strong.mark
        background-image: url(../img/paper-clip-35x50-t.png)
        background-repeat: no-repeat
        background-position: -4px top

        display: inline-block
        padding: 1ex 0 1ex 28px

    > section.maxim,
    > section.quotation
      background-color: $bg-color-quotation
      border-radius: 1em
      box-shadow: 1ex 1ex 1ex silver
      font-family: Comme, Verdana, sans-serif
      margin: 1em
      overflow: hidden
      padding: 1em
      position: relative

      > div.text,
      > div.text_translation
        margin: 1ex 0
        text-align: justify

        cite
          font-style: normal

      > div.text_translation
        display: flex

        > div.text
          padding-right: 1em
          width: 50%

        > div.translation
          border-left: solid 1px black
          padding-left: 1em
          width: 50%

      > footer
        > div.author
          background-color: $bg-color-quotation-infos
          padding: .5ex
          text-align: right

        > div.work
          background-color: $bg-color-quotation-infos
          font-style: italic
          padding: .5ex
          text-align: right

      > header
        > aside.mark
          background-image: url(../img/paper-clip-35x50-t.png)
          background-repeat: no-repeat

          height: 50px
          position: absolute
          right: 2em
          top: -3px
          width: 35px
          z-index: 11

        > h2.subject
          background-color: $bg-color-quotation-infos
          border-radius: 1em 1em 0 0

          font-size: medium
          font-weight: normal

          margin: 4px 0 0
          padding: .5ex

        > nav.id
          font-size: small
          left: 2.5em
          position: absolute
          top: 0
          width: 100%

          > a
            margin-left: 2em

            &:first-child
              margin: 0

          > div.sharing
            border-bottom: 1px dotted silver
            cursor: pointer
            display: inline
            margin-left: 2em

            &:hover
              border-bottom: 1px solid black

            > span
              background-image: url(../img/share-12x12-t.png)
              background-position: right center
              background-repeat: no-repeat

              padding-right: 16px

            > ul
              background-color: $bg-color-control-panel
              border-top: 2px solid silver

              border-bottom-left-radius: 1em
              border-bottom-right-radius: 1em

              box-shadow: 1ex 1ex 1ex silver
              cursor: auto
              left: 0
              list-style: none
              padding: 0 8px
              position: absolute
              top: 4px
              width: ((32px + 16px)*5 + 16px + 24px)
              z-index: 21

              > li
                display: inline-block
                margin: 16px 8px

                > a
                  border-bottom: 0 none
                  opacity: 0.75

                  &:before
                    content: none

                  &:hover
                    opacity: 1

          > ul.selections
            display: inline
            list-style: none
            margin: 0
            padding: 0
            position: absolute
            right: 8em
            top: 0
            z-index: 31

            > li
              display: inline
              margin-left: 1em

              &:first-child
                margin-left: 0

              > a,
              > span
                background-image: url(../img/Web-t.png)
                background-position: right center
                background-repeat: no-repeat
                background-size: 16px 16px

                cursor: pointer
                display: inline-block
                height: 16px
                line-height: 16px
                padding-right: 16px
                vertical-align: middle

              > a
                &:before
                  background-image: none

                &:not([target]):before
                  content: none

              > span
                border-bottom: 1px solid transparent
                opacity: 0.5

              &.Facebook, &.Twitter
                > a,
                > span
                  background-image: url(../img/sharing/Twitter-t.png)
                  padding-right: 18px

              &.Facebook
                > a,
                > span
                  background-image: url(../img/sharing/Facebook-t.png)

      mark
        background-color: transparent
        margin: -2px -1px
        padding: 2px 1px

    > section.maxim
      background-color: $bg-color-maxim

      > footer
        > div.nation
          background-color: $bg-color-maxim-infos
          padding: .5ex
          text-align: right

      > header
        > h2.subject
          background-color: $bg-color-maxim-infos


  > nav
    z-index: 91

    a.go-bottom,
    a.go-top
      font-weight: bold

    a.go-bottom,
      margin-left: 1em
      padding: 0 1ex 4px
      > span
        border-bottom: 1px solid black

    a.go-top
      padding: 4px 1ex 0
      > span
        border-top: 1px solid black

  > nav#lists
    left: 0
    margin: 0
    padding: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 1001

    > section.list
      display: none
      line-height: 200%
      padding: 1ex
      position: relative

      > header
        background-color: #e0e0e0
        background-image: url(../img/background.jpg)
        background-repeat: repeat-x

        border-bottom: 1px solid black
        left: 0
        position: fixed
        top: 0
        width: 100%
        z-index: 1003

        > div.close
          background-color: rgba(232, 232, 232, 0.4)
          height: 3ex
          line-height: 3ex
          width: 3ex

        > h2
          line-height: 3ex
          vertical-align: middle

          > span
            font-weight: normal

      > div
        background-color: #f0f0f0
        box-shadow: 0 1em 1em silver
        color: green
        left: 0
        padding: 6ex 0 1ex
        position: absolute
        top: 0
        width: 100%
        z-index: 1002

        > ul
          list-style-type: none
          margin: 0
          padding: 0

          > li
            display: inline-block
            margin: 0 0 0 1ex
            padding: 0

            > a
              background-color: #e8e8e8
              border: 1px solid black
              border-radius: 0 1ex 1ex 0
              margin: 1em .25ex
              padding: 0 1ex 0 .5ex
              text-decoration: none
              vertical-align: middle
              white-space: nowrap

            > a:hover
              background-color: #d0d0d0
            > a.max
              color: #a00000
            > a.min
              border-style: dotted


  > nav#control-panel
    background-color: $bg-color-control-panel
    border-bottom-right-radius: 1em
    box-shadow: 1ex 1ex 1ex silver
    padding: 1em
    position: fixed
    top: 0
    z-index: 101
    width: $control-panel-width

    > div.close
      display: none

    > div#control-panel-right-border
      background-color: #d8d8d8
      background-image: url(../img/background.jpg)
      background-repeat: repeat-y

      border-bottom-right-radius: 1em
      cursor: pointer
      display: none
      height: 100%
      position: absolute
      right: 0
      top: 0
      width: 3em
      z-index: 201

      > div
        left: 0
        position: absolute
        text-align: center
        bottom: 7ex
        width: 3em

        > span
          font-size: x-large
          font-weight: bold

        &:first-child
          top: 6ex

    > footer
      > div#about
        background-color: $bg-color-control-panel-sub
        background-image: url(../img/background.jpg)
        background-repeat: no-repeat
        background-size: 200% auto

        border-bottom-left-radius: 1em
        border-bottom-right-radius: 1em

        font-size: smaller
        margin-top: 2ex
        opacity: 0.75
        padding: 1ex 1em
        position: relative
        text-align: center

        &:hover
          opacity: 1

        &.opened
          opacity: 1
          > div
            > div
              display: block

        > div
          cursor: pointer
          display: inline-block

          > div
            background-color: #f0f0f0
            background-image: url(../img/background.jpg)
            background-repeat: no-repeat
            background-size: 100% auto

            border: 1px solid black
            border-radius: 1em
            box-shadow: 1em 1em 1em silver
            bottom: -2em
            cursor: auto
            display: none
            left: -0.5em
            margin: 0
            padding: 1ex 0
            position: absolute
            text-align: justify
            width: 36em
            z-index: 301

            > div
              background-color: $bg-color-control-panel
              padding: 1ex 0

              > div, p
                margin: 0
                padding: 0 1ex

                &.ds-jf-opi
                  > p
                    text-align: center

                    > a
                      display: inline-block
                      height: 34px
                      margin: 0 1em

                      &:first-child
                        float: left
                      &:last-child
                        float: right

                &.sep
                  border-top: solid 1px black
                  margin-top: 1ex
                  padding-top: 1ex

                > ul
                  margin: 0
                  padding: 0 1ex 0 2ex

                  > li
                    margin-top: 1ex

                    &:first-child
                      margin-top: 0

              > ul
                margin: 0
                padding: 0 1ex 0 3ex

                > li
                  a.one-OPiQuotation
                    background-image: url(../img/one-OPiQuotation-16x16-t.png)
                    background-repeat: no-repeat
                    background-position: right center

                    display: inline-block
                    font-family: Comme, Verdana, sans-serif
                    height: 16px
                    line-height: 16px
                    padding-right: 20px

              &.close
                background-color: transparent
                height: 32px
                line-height: 32px
                width: 32px

            > h3
              font-family: Comme, Verdana, sans-serif
              font-size: large

              > a
                background-image: url(../img/OPiQuotations-32x32-t.png)
                background-repeat: no-repeat
                background-position: right center

                color: #606060
                display: inline-block
                height: 32px
                line-height: 32px
                opacity: 0.9
                padding-right: 36px

                &:hover
                  color: black
                  opacity: 1

            > p
              margin: 0
              padding: 1ex

              > a.donate
                float: left
                line-height: 34px
                vertical-align: bottom

              > a.opi
                background-image: url(../img/OPi-t.png)
                background-repeat: no-repeat
                background-position: right center

                display: inline-block
                float: right
                height: 34px
                line-height: 34px
                padding-right: 45px
                vertical-align: bottom

          > h2
            background-image: url(../img/OPiQuotations-32x32-t.png)
            background-repeat: no-repeat
            background-position: right center

            display: inline-block
            height: 32px
            line-height: 32px
            padding-right: 38px


    > form.big-buttons
      > ul
        list-style: none
        margin: 0
        padding: 0

        > li
          > button
            margin-bottom: 1ex
            width: 100%

          > div
            margin-bottom: 1ex
            text-align: center
            vertical-align: middle

            > ul
              display: flex
              justify-content: space-between
              list-style: none
              margin: 0
              padding: 0

              > li
                > button
                  padding: 0

                  > span
                    display: inline-block
                    height: 3ex
                    line-height: 3ex
                    vertical-align: middle

                  &[name="selection"]
                    > span
                      background-position: center center
                      background-repeat: no-repeat
                      background-size: 24px 24px

                      height: 24px
                      line-height: 24px
                      vertical-align: middle

                  &[name="all_marked"]
                    > span
                      background-image: url(../img/paper-clip-35x50-t.png)
                      background-size: 100% 100%
                      width: 21px

                  &[value="Web"]
                    > span
                      background-image: url(../img/Web-t.png)  /* 32x32 */
                      width: 24px

                  &[value="Facebook"], &[value="Twitter"]
                    > span
                      background-image: url(../img/sharing/Twitter-t.png)  /* 32x32 */
                      background-position: right center
                      padding-right: 26px

                  &[value="Facebook"]
                    > span
                      background-image: url(../img/sharing/Facebook-t.png)  /* 32x32 */

                &:first-child
                  margin-left: 0

    > header#please-don-t-use-IE
      background-color: $bg-color-control-panel-sub
      border: 1px solid red
      font-size: smaller
      margin: 1ex 0
      padding: .5ex

      > p
        margin: 0
        text-align: center


    > ul#menu
      list-style-type: none
      margin: 0
      padding: 0

      > li
        margin: 0 0 1ex

        > a
          float: right

        > div
          line-height: 3ex
          height: 2.5ex
          vertical-align: bottom

          > button
            padding: 0

            &.list-open
              float: right

        > form
          > input[type="search"]
            width: 100%

        &.author input,
        &.work input
          background-color: $bg-color-quotation

        &.nation input
          background-color: $bg-color-maxim

        &:last-child
          margin-top: 2ex
          min-height: 3ex

  > nav#right-panel
    background-color: $bg-color-control-panel

    border-bottom-left-radius: 1em
    border-top-left-radius: 1em

    box-shadow: 1ex 1ex 1ex silver
    bottom: 1ex
    font-size: large
    opacity: 0.8
    padding: 1ex
    position: fixed
    right: 0


  .close
    border-bottom: 1px solid black
    border-left: 1px solid black

    cursor: pointer
    font-size: x-large
    height: 24px
    line-height: 24px
    margin: 0 !important
    padding: 0 !important
    position: absolute
    right: 0
    text-align: center
    top: 0
    width: 24px

    &:hover
      font-weight: bold



// If little height
@media screen and (max-height: 700px)
  body
    > nav#control-panel
      position: absolute


// If little width
@media screen and (max-width: 750px)
  body
    > main
      padding-left: 3em

      > section.maxim,
      > section.quotation
        > header
          > nav.id
            left: 1em

            > a, div.sharing
              margin-left: 1em

            > div.sharing
              > ul
                left: -1em

                padding-left: 4px
                padding-right: 4px

                width: ((32px + 8px)*6 + 16px + 24px)

                > li
                  margin-left: 4px
                  margin-right: 4px

            > ul.selections
              right: 5em

              > li
                margin-left: 1ex

                > a,
                > span
                  color: rgba(0, 0, 0, 0.5)
                  padding-right: 0 !important
                  text-align: left
                  width: 20px

    > nav#control-panel
      left: (1em - $control-panel-width)
      transition: left 0.25s

      > *
        visibility: hidden

      > div.close
        background-color: $bg-color-control-panel
        display: block
        height: 32px
        line-height: 32px
        width: 32px

      > div#control-panel-right-border
        display: inline-block
        visibility: visible

      > form.big-buttons
        > ul
          > li:first-child
            > button
              width: 90%

      &.opened
        left: 0

        > *
          visibility: visible

        > div#control-panel-right-border
          display: none

      > footer
        > div#about
          > div
            > div
              bottom: -8em
              max-width: 360px


// If very little width
@media screen and (max-width: 400px)
  body
    > main
      padding-left: 0

      > section.maxim,
      > section.quotation
        margin-left: 1ex
        margin-right: 1ex

    > nav#control-panel
      height: 70px
      transition: height 0.25s

      &.opened
        height: auto

      > footer
        > div#about
          > div
            > div
              left: -1.2em
              max-width: 330px



// If print
@media print
  body
    a
      border-bottom: 0 none

      &:before
        content: none !important

    > main
      padding-left: 0

      > h1 > a > span
        background-image: none
        padding-right: 0

      > section.maxim,
      > section.quotation
        background-color: white
        border: 1px solid silver
        box-shadow: none
        padding: 1ex 1em

        *
          background-color: white !important

        > header
          > aside.mark
            display: none

          > nav.id
            top: 3ex

            > a.one-OPiQuotation, div.sharing, ul.selections
              display: none

    > nav
      display: none
