@charset "UTF-8";
/* -*- coding: utf-8 -*- */
/* one-OPiQuotation.sass -> one-OPiQuotation.css (October 24, 2019)
 *
 * Piece of OPiQuotations.
 * https://bitbucket.org/OPiMedia/opiquotations
 *
 * GPLv3 --- Copyright (C) 2014, 2015, 2016, 2019 Olivier Pirson
 * http://www.opimedia.be/
 */
@font-face {
  font-family: Comme;
  src: url(../fonts/Comme/Comme-Light.woff2) format("woff2"), url(../fonts/Comme/Comme-Light.woff) format("woff"); }
span.Comme-fix {
  display: inline-block;
  min-width: 0.75ex;
  text-align: left; }

footer,
header,
main,
section {
  display: block; }

a[href^="mailto:"] {
  color: #007000; }

a[href^="http://"]:before,
a[href^="https://"]:before,
a[href^="mailto:"]:before {
  background-position: left bottom;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 10px;
  opacity: 0.5;
  vertical-align: text-bottom;
  width: 12px; }

a[href^="http://"]:before {
  background-image: url(../img/external-link--10x10-t.png); }

a[href^="https://"]:before {
  background-image: url(../img/external-link-https--8x10-t.png);
  width: 10px; }

a[href^="http://"]:focus:before,
a[href^="http://"]:hover:before,
a[href^="https://"]:focus:before,
a[href^="https://"]:hover:before,
a[href^="mailto:"]:focus:before,
a[href^="mailto:"]:hover:before {
  opacity: 1; }

a[href^="mailto:"]:before {
  content: "✉";
  margin-right: 0.2ex; }

a[target]:before {
  background-image: none;
  display: inline;
  content: "↗";
  height: auto;
  opacity: 1;
  vertical-align: baseline;
  width: auto; }

a.no-prefix:before {
  content: none; }

.block-center {
  display: block;
  text-align: center !important; }

.block-right {
  display: block;
  text-align: right !important; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.clear {
  clear: both; }

.float-right {
  float: right !important; }

.no-display {
  display: none; }

.nowrap {
  white-space: nowrap; }

.surname {
  font-variant: small-caps !important; }

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0; }
  body a {
    border-bottom: 1px dotted silver;
    color: black;
    outline: none !important;
    text-decoration: none; }
    body a:hover {
      border-bottom: 1px solid black; }
  body > footer {
    margin: 0 1ex;
    text-align: right; }
    body > footer > a {
      background-image: url(../img/OPiQuotations-32x32-t.png);
      background-repeat: no-repeat;
      background-position: right center;
      display: inline-block;
      height: 32px;
      line-height: 32px;
      padding-right: 36px; }
      body > footer > a > span {
        font-family: Comme, Verdana, sans-serif; }
  body > main {
    padding: 3px 1ex 1ex 0;
    margin: 0; }
    body > main > section.maxim,
    body > main > section.quotation {
      background-color: #fdfdd0;
      border-radius: 1em;
      box-shadow: 1ex 1ex 1ex silver;
      font-family: Comme, Verdana, sans-serif;
      margin: 0;
      overflow: hidden;
      padding: 1em;
      position: relative; }
      body > main > section.maxim > div.text,
      body > main > section.maxim > div.text_translation,
      body > main > section.quotation > div.text,
      body > main > section.quotation > div.text_translation {
        margin: 1ex 0;
        text-align: justify; }
        body > main > section.maxim > div.text cite,
        body > main > section.maxim > div.text_translation cite,
        body > main > section.quotation > div.text cite,
        body > main > section.quotation > div.text_translation cite {
          font-style: normal; }
      body > main > section.maxim > div.text_translation,
      body > main > section.quotation > div.text_translation {
        display: flex; }
        body > main > section.maxim > div.text_translation > div.text,
        body > main > section.quotation > div.text_translation > div.text {
          padding-right: 1em;
          width: 50%; }
        body > main > section.maxim > div.text_translation > div.translation,
        body > main > section.quotation > div.text_translation > div.translation {
          border-left: solid 1px black;
          padding-left: 1em;
          width: 50%; }
      body > main > section.maxim > footer > div.author,
      body > main > section.quotation > footer > div.author {
        background-color: #ededc0;
        padding: 0.5ex;
        text-align: right; }
      body > main > section.maxim > footer > div.work,
      body > main > section.quotation > footer > div.work {
        background-color: #ededc0;
        font-style: italic;
        padding: 0.5ex;
        text-align: right; }
      body > main > section.maxim > header > aside.mark,
      body > main > section.quotation > header > aside.mark {
        background-image: url(../img/paper-clip-35x50-t.png);
        background-repeat: no-repeat;
        height: 50px;
        position: absolute;
        right: 2em;
        top: -3px;
        width: 35px;
        z-index: 11; }
      body > main > section.maxim > header > h1.subject,
      body > main > section.quotation > header > h1.subject {
        background-color: #ededc0;
        border-radius: 1em 1em 0 0;
        font-size: medium;
        font-weight: normal;
        margin: 4px 0 0;
        padding: 0.5ex;
        text-align: center; }
      body > main > section.maxim > header > nav.id,
      body > main > section.quotation > header > nav.id {
        font-size: small;
        left: 2.5em;
        position: absolute;
        top: 0;
        width: 100%; }
        body > main > section.maxim > header > nav.id > a,
        body > main > section.quotation > header > nav.id > a {
          margin-left: 2em; }
          body > main > section.maxim > header > nav.id > a:first-child,
          body > main > section.quotation > header > nav.id > a:first-child {
            margin: 0; }
        body > main > section.maxim > header > nav.id > div.sharing,
        body > main > section.quotation > header > nav.id > div.sharing {
          border-bottom: 1px dotted silver;
          cursor: pointer;
          display: inline;
          margin-left: 2em; }
          body > main > section.maxim > header > nav.id > div.sharing:hover,
          body > main > section.quotation > header > nav.id > div.sharing:hover {
            border-bottom: 1px solid black; }
          body > main > section.maxim > header > nav.id > div.sharing > span,
          body > main > section.quotation > header > nav.id > div.sharing > span {
            background-image: url(../img/share-12x12-t.png);
            background-position: right center;
            background-repeat: no-repeat;
            padding-right: 16px; }
          body > main > section.maxim > header > nav.id > div.sharing > ul,
          body > main > section.quotation > header > nav.id > div.sharing > ul {
            background-color: #f8f8f8;
            border-top: 2px solid silver;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
            box-shadow: 1ex 1ex 1ex silver;
            cursor: auto;
            left: 0;
            list-style: none;
            padding: 0 8px;
            position: absolute;
            top: 4px;
            width: 280px;
            z-index: 21; }
            body > main > section.maxim > header > nav.id > div.sharing > ul > li,
            body > main > section.quotation > header > nav.id > div.sharing > ul > li {
              display: inline-block;
              margin: 16px 8px; }
              body > main > section.maxim > header > nav.id > div.sharing > ul > li > a,
              body > main > section.quotation > header > nav.id > div.sharing > ul > li > a {
                border-bottom: 0 none;
                opacity: 0.75; }
                body > main > section.maxim > header > nav.id > div.sharing > ul > li > a:before,
                body > main > section.quotation > header > nav.id > div.sharing > ul > li > a:before {
                  content: none; }
                body > main > section.maxim > header > nav.id > div.sharing > ul > li > a:hover,
                body > main > section.quotation > header > nav.id > div.sharing > ul > li > a:hover {
                  opacity: 1; }
              body > main > section.maxim > header > nav.id > div.sharing > ul > li.close,
              body > main > section.quotation > header > nav.id > div.sharing > ul > li.close {
                border-bottom: 1px solid black;
                border-left: 1px solid black;
                cursor: pointer;
                font-size: x-large;
                height: 24px;
                line-height: 24px;
                margin: 0;
                padding: 0;
                position: absolute;
                right: 0;
                text-align: center;
                top: 0;
                width: 24px; }
                body > main > section.maxim > header > nav.id > div.sharing > ul > li.close:hover,
                body > main > section.quotation > header > nav.id > div.sharing > ul > li.close:hover {
                  font-weight: bold; }
        body > main > section.maxim > header > nav.id > ul.selections,
        body > main > section.quotation > header > nav.id > ul.selections {
          display: inline;
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          right: 8em;
          top: 0;
          z-index: 31; }
          body > main > section.maxim > header > nav.id > ul.selections > li,
          body > main > section.quotation > header > nav.id > ul.selections > li {
            display: inline;
            margin-left: 1em; }
            body > main > section.maxim > header > nav.id > ul.selections > li:first-child,
            body > main > section.quotation > header > nav.id > ul.selections > li:first-child {
              margin-left: 0; }
            body > main > section.maxim > header > nav.id > ul.selections > li > a,
            body > main > section.maxim > header > nav.id > ul.selections > li > span,
            body > main > section.quotation > header > nav.id > ul.selections > li > a,
            body > main > section.quotation > header > nav.id > ul.selections > li > span {
              background-image: url(../img/Web-t.png);
              background-position: right center;
              background-repeat: no-repeat;
              background-size: 16px 16px;
              cursor: pointer;
              display: inline-block;
              height: 16px;
              line-height: 16px;
              padding-right: 16px;
              vertical-align: middle; }
            body > main > section.maxim > header > nav.id > ul.selections > li > a:before,
            body > main > section.quotation > header > nav.id > ul.selections > li > a:before {
              background-image: none; }
            body > main > section.maxim > header > nav.id > ul.selections > li > a:not([target]):before,
            body > main > section.quotation > header > nav.id > ul.selections > li > a:not([target]):before {
              content: none; }
            body > main > section.maxim > header > nav.id > ul.selections > li > span,
            body > main > section.quotation > header > nav.id > ul.selections > li > span {
              border-bottom: 1px solid transparent;
              opacity: 0.5; }
            body > main > section.maxim > header > nav.id > ul.selections > li.Facebook > a,
            body > main > section.maxim > header > nav.id > ul.selections > li.Facebook > span, body > main > section.maxim > header > nav.id > ul.selections > li.Twitter > a,
            body > main > section.maxim > header > nav.id > ul.selections > li.Twitter > span,
            body > main > section.quotation > header > nav.id > ul.selections > li.Facebook > a,
            body > main > section.quotation > header > nav.id > ul.selections > li.Facebook > span,
            body > main > section.quotation > header > nav.id > ul.selections > li.Twitter > a,
            body > main > section.quotation > header > nav.id > ul.selections > li.Twitter > span {
              background-image: url(../img/sharing/Twitter-t.png);
              padding-right: 18px; }
            body > main > section.maxim > header > nav.id > ul.selections > li.Facebook > a,
            body > main > section.maxim > header > nav.id > ul.selections > li.Facebook > span,
            body > main > section.quotation > header > nav.id > ul.selections > li.Facebook > a,
            body > main > section.quotation > header > nav.id > ul.selections > li.Facebook > span {
              background-image: url(../img/sharing/Facebook-t.png); }
    body > main > section.maxim {
      background-color: #fdedd0; }
      body > main > section.maxim > footer > div.nation {
        background-color: #edddc0;
        padding: 0.5ex;
        text-align: right; }
      body > main > section.maxim > header > h1.subject {
        background-color: #edddc0; }

@media print {
  body a {
    border-bottom: 0 none; }
    body a:before {
      content: none !important; }
  body > main {
    padding-left: 0; }
    body > main > section.maxim,
    body > main > section.quotation {
      background-color: white;
      border: 1px solid silver;
      box-shadow: none;
      padding: 1ex 1em; }
      body > main > section.maxim *,
      body > main > section.quotation * {
        background-color: white !important; }
      body > main > section.maxim > header > aside.mark,
      body > main > section.quotation > header > aside.mark {
        display: none; }
      body > main > section.maxim > header > nav.id,
      body > main > section.quotation > header > nav.id {
        top: 3ex; }
        body > main > section.maxim > header > nav.id > a.one-OPiQuotation, body > main > section.maxim > header > nav.id div.sharing, body > main > section.maxim > header > nav.id ul.selections,
        body > main > section.quotation > header > nav.id > a.one-OPiQuotation,
        body > main > section.quotation > header > nav.id div.sharing,
        body > main > section.quotation > header > nav.id ul.selections {
          display: none; } }
