@charset "UTF-8";
/* -*- coding: utf-8 -*- */
/* style.sass -> style.css (October 24, 2019)
 *
 * Piece of OPiQuotations.
 * https://bitbucket.org/OPiMedia/opiquotations
 *
 * GPLv3 --- Copyright (C) 2014, 2015, 2016, 2017, 2019 Olivier Pirson
 * http://www.opimedia.be/
 */
@font-face {
  font-family: Comme;
  src: url(../fonts/Comme/Comme-Light.woff2) format("woff2"), url(../fonts/Comme/Comme-Light.woff) format("woff"); }
span.Comme-fix {
  display: inline-block;
  min-width: 0.75ex;
  text-align: left; }

footer,
header,
main,
section {
  display: block; }

a[href^="mailto:"] {
  color: #007000; }

a[href^="http://"]:before,
a[href^="https://"]:before,
a[href^="mailto:"]:before {
  background-position: left bottom;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 10px;
  opacity: 0.5;
  vertical-align: text-bottom;
  width: 12px; }

a[href^="http://"]:before {
  background-image: url(../img/external-link--10x10-t.png); }

a[href^="https://"]:before {
  background-image: url(../img/external-link-https--8x10-t.png);
  width: 10px; }

a[href^="http://"]:focus:before,
a[href^="http://"]:hover:before,
a[href^="https://"]:focus:before,
a[href^="https://"]:hover:before,
a[href^="mailto:"]:focus:before,
a[href^="mailto:"]:hover:before {
  opacity: 1; }

a[href^="mailto:"]:before {
  content: "✉";
  margin-right: 0.2ex; }

a[target]:before {
  background-image: none;
  display: inline;
  content: "↗";
  height: auto;
  opacity: 1;
  vertical-align: baseline;
  width: auto; }

a.no-prefix:before {
  content: none; }

.block-center {
  display: block;
  text-align: center !important; }

.block-right {
  display: block;
  text-align: right !important; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.clear {
  clear: both; }

.float-right {
  float: right !important; }

.no-display {
  display: none; }

.monospace {
  font-family: monospace; }

.no-decoration {
  border-bottom: 0 none;
  text-decoration: none; }
  .no-decoration:hover {
    border-bottom: 0 none; }

.nowrap {
  white-space: nowrap; }

.surname {
  font-variant: small-caps !important; }

.URL {
  font-family: monospace; }

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0; }
  body a {
    border-bottom: 1px dotted silver;
    color: black;
    outline: none !important;
    text-decoration: none; }
    body a:hover {
      border-bottom: 1px solid black; }
  body a.icon-Facebook,
  body a.icon-Twitter,
  body a.icon-Web {
    background-image: url(../img/sharing/Facebook-t.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    min-height: 16px;
    padding-left: 20px;
    vertical-align: bottom; }
  body a.icon-Twitter {
    background-image: url(../img/sharing/Twitter-t.png); }
  body a.icon-Web {
    background-image: url(../img/Web-t.png); }
  body button {
    cursor: pointer;
    font-size: medium;
    line-height: 2ex;
    margin: 0;
    padding: 1px 1ex; }
  body input {
    margin: 0;
    padding: 0; }
  body input[type=submit] {
    cursor: pointer; }
  body button::-moz-focus-inner,
  body input::-moz-focus-inner {
    border: 0;
    margin: 0;
    padding: 0; }
  body h1,
  body h2,
  body h3 {
    margin: 0;
    text-align: center; }
  body img {
    border: 0 none;
    vertical-align: middle; }
  body > main {
    margin: 0;
    padding-left: 18em; }
    body > main > h1 {
      background-color: #f8f8f8;
      background-image: url(../img/C-est-a-l-heure-du-commencement--Dune--Frank-Herbert.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      font-family: Comme, Verdana, sans-serif; }
      body > main > h1 > a {
        color: #606060;
        display: block;
        height: 100px;
        line-height: 100px;
        opacity: 0.9; }
        body > main > h1 > a:hover {
          color: black;
          opacity: 1; }
        body > main > h1 > a > span {
          background-image: url(../img/OPiQuotations-64x64-t.png);
          background-repeat: no-repeat;
          background-position: right center;
          display: inline-block;
          height: 64px;
          line-height: 64px;
          padding-right: 68px; }
    body > main > header {
      border-bottom: solid 1px silver;
      box-shadow: 1ex -1ex 1ex silver;
      min-height: 2ex;
      padding: 1ex 1em 2px 2em; }
      body > main > header > div.page-links {
        border-bottom: solid 1px silver;
        border-top: solid 1px silver;
        margin: 0.5ex 0;
        padding: 0; }
        body > main > header > div.page-links > ul {
          display: inline;
          list-style: none;
          margin: 0;
          padding: 0; }
          body > main > header > div.page-links > ul > li {
            display: inline;
            line-height: 3ex;
            margin: 0;
            padding: 0; }
            body > main > header > div.page-links > ul > li.selected {
              border: solid 1px black; }
              body > main > header > div.page-links > ul > li.selected > a {
                margin: 0 2px; }
            body > main > header > div.page-links > ul > li > a {
              margin: 0 4px;
              padding: 0; }
      body > main > header > small {
        float: right;
        padding: 2px; }
      body > main > header > strong.mark {
        background-image: url(../img/paper-clip-35x50-t.png);
        background-repeat: no-repeat;
        background-position: -4px top;
        display: inline-block;
        padding: 1ex 0 1ex 28px; }
    body > main > section.maxim,
    body > main > section.quotation {
      background-color: #fdfdd0;
      border-radius: 1em;
      box-shadow: 1ex 1ex 1ex silver;
      font-family: Comme, Verdana, sans-serif;
      margin: 1em;
      overflow: hidden;
      padding: 1em;
      position: relative; }
      body > main > section.maxim > div.text,
      body > main > section.maxim > div.text_translation,
      body > main > section.quotation > div.text,
      body > main > section.quotation > div.text_translation {
        margin: 1ex 0;
        text-align: justify; }
        body > main > section.maxim > div.text cite,
        body > main > section.maxim > div.text_translation cite,
        body > main > section.quotation > div.text cite,
        body > main > section.quotation > div.text_translation cite {
          font-style: normal; }
      body > main > section.maxim > div.text_translation,
      body > main > section.quotation > div.text_translation {
        display: flex; }
        body > main > section.maxim > div.text_translation > div.text,
        body > main > section.quotation > div.text_translation > div.text {
          padding-right: 1em;
          width: 50%; }
        body > main > section.maxim > div.text_translation > div.translation,
        body > main > section.quotation > div.text_translation > div.translation {
          border-left: solid 1px black;
          padding-left: 1em;
          width: 50%; }
      body > main > section.maxim > footer > div.author,
      body > main > section.quotation > footer > div.author {
        background-color: #ededc0;
        padding: 0.5ex;
        text-align: right; }
      body > main > section.maxim > footer > div.work,
      body > main > section.quotation > footer > div.work {
        background-color: #ededc0;
        font-style: italic;
        padding: 0.5ex;
        text-align: right; }
      body > main > section.maxim > header > aside.mark,
      body > main > section.quotation > header > aside.mark {
        background-image: url(../img/paper-clip-35x50-t.png);
        background-repeat: no-repeat;
        height: 50px;
        position: absolute;
        right: 2em;
        top: -3px;
        width: 35px;
        z-index: 11; }
      body > main > section.maxim > header > h2.subject,
      body > main > section.quotation > header > h2.subject {
        background-color: #ededc0;
        border-radius: 1em 1em 0 0;
        font-size: medium;
        font-weight: normal;
        margin: 4px 0 0;
        padding: 0.5ex; }
      body > main > section.maxim > header > nav.id,
      body > main > section.quotation > header > nav.id {
        font-size: small;
        left: 2.5em;
        position: absolute;
        top: 0;
        width: 100%; }
        body > main > section.maxim > header > nav.id > a,
        body > main > section.quotation > header > nav.id > a {
          margin-left: 2em; }
          body > main > section.maxim > header > nav.id > a:first-child,
          body > main > section.quotation > header > nav.id > a:first-child {
            margin: 0; }
        body > main > section.maxim > header > nav.id > div.sharing,
        body > main > section.quotation > header > nav.id > div.sharing {
          border-bottom: 1px dotted silver;
          cursor: pointer;
          display: inline;
          margin-left: 2em; }
          body > main > section.maxim > header > nav.id > div.sharing:hover,
          body > main > section.quotation > header > nav.id > div.sharing:hover {
            border-bottom: 1px solid black; }
          body > main > section.maxim > header > nav.id > div.sharing > span,
          body > main > section.quotation > header > nav.id > div.sharing > span {
            background-image: url(../img/share-12x12-t.png);
            background-position: right center;
            background-repeat: no-repeat;
            padding-right: 16px; }
          body > main > section.maxim > header > nav.id > div.sharing > ul,
          body > main > section.quotation > header > nav.id > div.sharing > ul {
            background-color: #f8f8f8;
            border-top: 2px solid silver;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
            box-shadow: 1ex 1ex 1ex silver;
            cursor: auto;
            left: 0;
            list-style: none;
            padding: 0 8px;
            position: absolute;
            top: 4px;
            width: 280px;
            z-index: 21; }
            body > main > section.maxim > header > nav.id > div.sharing > ul > li,
            body > main > section.quotation > header > nav.id > div.sharing > ul > li {
              display: inline-block;
              margin: 16px 8px; }
              body > main > section.maxim > header > nav.id > div.sharing > ul > li > a,
              body > main > section.quotation > header > nav.id > div.sharing > ul > li > a {
                border-bottom: 0 none;
                opacity: 0.75; }
                body > main > section.maxim > header > nav.id > div.sharing > ul > li > a:before,
                body > main > section.quotation > header > nav.id > div.sharing > ul > li > a:before {
                  content: none; }
                body > main > section.maxim > header > nav.id > div.sharing > ul > li > a:hover,
                body > main > section.quotation > header > nav.id > div.sharing > ul > li > a:hover {
                  opacity: 1; }
        body > main > section.maxim > header > nav.id > ul.selections,
        body > main > section.quotation > header > nav.id > ul.selections {
          display: inline;
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          right: 8em;
          top: 0;
          z-index: 31; }
          body > main > section.maxim > header > nav.id > ul.selections > li,
          body > main > section.quotation > header > nav.id > ul.selections > li {
            display: inline;
            margin-left: 1em; }
            body > main > section.maxim > header > nav.id > ul.selections > li:first-child,
            body > main > section.quotation > header > nav.id > ul.selections > li:first-child {
              margin-left: 0; }
            body > main > section.maxim > header > nav.id > ul.selections > li > a,
            body > main > section.maxim > header > nav.id > ul.selections > li > span,
            body > main > section.quotation > header > nav.id > ul.selections > li > a,
            body > main > section.quotation > header > nav.id > ul.selections > li > span {
              background-image: url(../img/Web-t.png);
              background-position: right center;
              background-repeat: no-repeat;
              background-size: 16px 16px;
              cursor: pointer;
              display: inline-block;
              height: 16px;
              line-height: 16px;
              padding-right: 16px;
              vertical-align: middle; }
            body > main > section.maxim > header > nav.id > ul.selections > li > a:before,
            body > main > section.quotation > header > nav.id > ul.selections > li > a:before {
              background-image: none; }
            body > main > section.maxim > header > nav.id > ul.selections > li > a:not([target]):before,
            body > main > section.quotation > header > nav.id > ul.selections > li > a:not([target]):before {
              content: none; }
            body > main > section.maxim > header > nav.id > ul.selections > li > span,
            body > main > section.quotation > header > nav.id > ul.selections > li > span {
              border-bottom: 1px solid transparent;
              opacity: 0.5; }
            body > main > section.maxim > header > nav.id > ul.selections > li.Facebook > a,
            body > main > section.maxim > header > nav.id > ul.selections > li.Facebook > span, body > main > section.maxim > header > nav.id > ul.selections > li.Twitter > a,
            body > main > section.maxim > header > nav.id > ul.selections > li.Twitter > span,
            body > main > section.quotation > header > nav.id > ul.selections > li.Facebook > a,
            body > main > section.quotation > header > nav.id > ul.selections > li.Facebook > span,
            body > main > section.quotation > header > nav.id > ul.selections > li.Twitter > a,
            body > main > section.quotation > header > nav.id > ul.selections > li.Twitter > span {
              background-image: url(../img/sharing/Twitter-t.png);
              padding-right: 18px; }
            body > main > section.maxim > header > nav.id > ul.selections > li.Facebook > a,
            body > main > section.maxim > header > nav.id > ul.selections > li.Facebook > span,
            body > main > section.quotation > header > nav.id > ul.selections > li.Facebook > a,
            body > main > section.quotation > header > nav.id > ul.selections > li.Facebook > span {
              background-image: url(../img/sharing/Facebook-t.png); }
      body > main > section.maxim mark,
      body > main > section.quotation mark {
        background-color: transparent;
        margin: -2px -1px;
        padding: 2px 1px; }
    body > main > section.maxim {
      background-color: #fdedd0; }
      body > main > section.maxim > footer > div.nation {
        background-color: #edddc0;
        padding: 0.5ex;
        text-align: right; }
      body > main > section.maxim > header > h2.subject {
        background-color: #edddc0; }
  body > nav {
    z-index: 91; }
    body > nav a.go-bottom,
    body > nav a.go-top {
      font-weight: bold; }
    body > nav a.go-bottom {
      margin-left: 1em;
      padding: 0 1ex 4px; }
      body > nav a.go-bottom > span {
        border-bottom: 1px solid black; }
    body > nav a.go-top {
      padding: 4px 1ex 0; }
      body > nav a.go-top > span {
        border-top: 1px solid black; }
  body > nav#lists {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001; }
    body > nav#lists > section.list {
      display: none;
      line-height: 200%;
      padding: 1ex;
      position: relative; }
      body > nav#lists > section.list > header {
        background-color: #e0e0e0;
        background-image: url(../img/background.jpg);
        background-repeat: repeat-x;
        border-bottom: 1px solid black;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1003; }
        body > nav#lists > section.list > header > div.close {
          background-color: rgba(232, 232, 232, 0.4);
          height: 3ex;
          line-height: 3ex;
          width: 3ex; }
        body > nav#lists > section.list > header > h2 {
          line-height: 3ex;
          vertical-align: middle; }
          body > nav#lists > section.list > header > h2 > span {
            font-weight: normal; }
      body > nav#lists > section.list > div {
        background-color: #f0f0f0;
        box-shadow: 0 1em 1em silver;
        color: green;
        left: 0;
        padding: 6ex 0 1ex;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1002; }
        body > nav#lists > section.list > div > ul {
          list-style-type: none;
          margin: 0;
          padding: 0; }
          body > nav#lists > section.list > div > ul > li {
            display: inline-block;
            margin: 0 0 0 1ex;
            padding: 0; }
            body > nav#lists > section.list > div > ul > li > a {
              background-color: #e8e8e8;
              border: 1px solid black;
              border-radius: 0 1ex 1ex 0;
              margin: 1em 0.25ex;
              padding: 0 1ex 0 0.5ex;
              text-decoration: none;
              vertical-align: middle;
              white-space: nowrap; }
            body > nav#lists > section.list > div > ul > li > a:hover {
              background-color: #d0d0d0; }
            body > nav#lists > section.list > div > ul > li > a.max {
              color: #a00000; }
            body > nav#lists > section.list > div > ul > li > a.min {
              border-style: dotted; }
  body > nav#control-panel {
    background-color: #f8f8f8;
    border-bottom-right-radius: 1em;
    box-shadow: 1ex 1ex 1ex silver;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 101;
    width: 16em; }
    body > nav#control-panel > div.close {
      display: none; }
    body > nav#control-panel > div#control-panel-right-border {
      background-color: #d8d8d8;
      background-image: url(../img/background.jpg);
      background-repeat: repeat-y;
      border-bottom-right-radius: 1em;
      cursor: pointer;
      display: none;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 3em;
      z-index: 201; }
      body > nav#control-panel > div#control-panel-right-border > div {
        left: 0;
        position: absolute;
        text-align: center;
        bottom: 7ex;
        width: 3em; }
        body > nav#control-panel > div#control-panel-right-border > div > span {
          font-size: x-large;
          font-weight: bold; }
        body > nav#control-panel > div#control-panel-right-border > div:first-child {
          top: 6ex; }
    body > nav#control-panel > footer > div#about {
      background-color: #e8e8e8;
      background-image: url(../img/background.jpg);
      background-repeat: no-repeat;
      background-size: 200% auto;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;
      font-size: smaller;
      margin-top: 2ex;
      opacity: 0.75;
      padding: 1ex 1em;
      position: relative;
      text-align: center; }
      body > nav#control-panel > footer > div#about:hover {
        opacity: 1; }
      body > nav#control-panel > footer > div#about.opened {
        opacity: 1; }
        body > nav#control-panel > footer > div#about.opened > div > div {
          display: block; }
      body > nav#control-panel > footer > div#about > div {
        cursor: pointer;
        display: inline-block; }
        body > nav#control-panel > footer > div#about > div > div {
          background-color: #f0f0f0;
          background-image: url(../img/background.jpg);
          background-repeat: no-repeat;
          background-size: 100% auto;
          border: 1px solid black;
          border-radius: 1em;
          box-shadow: 1em 1em 1em silver;
          bottom: -2em;
          cursor: auto;
          display: none;
          left: -0.5em;
          margin: 0;
          padding: 1ex 0;
          position: absolute;
          text-align: justify;
          width: 36em;
          z-index: 301; }
          body > nav#control-panel > footer > div#about > div > div > div {
            background-color: #f8f8f8;
            padding: 1ex 0; }
            body > nav#control-panel > footer > div#about > div > div > div > div, body > nav#control-panel > footer > div#about > div > div > div p {
              margin: 0;
              padding: 0 1ex; }
              body > nav#control-panel > footer > div#about > div > div > div > div.ds-jf-opi > p, body > nav#control-panel > footer > div#about > div > div > div p.ds-jf-opi > p {
                text-align: center; }
                body > nav#control-panel > footer > div#about > div > div > div > div.ds-jf-opi > p > a, body > nav#control-panel > footer > div#about > div > div > div p.ds-jf-opi > p > a {
                  display: inline-block;
                  height: 34px;
                  margin: 0 1em; }
                  body > nav#control-panel > footer > div#about > div > div > div > div.ds-jf-opi > p > a:first-child, body > nav#control-panel > footer > div#about > div > div > div p.ds-jf-opi > p > a:first-child {
                    float: left; }
                  body > nav#control-panel > footer > div#about > div > div > div > div.ds-jf-opi > p > a:last-child, body > nav#control-panel > footer > div#about > div > div > div p.ds-jf-opi > p > a:last-child {
                    float: right; }
              body > nav#control-panel > footer > div#about > div > div > div > div.sep, body > nav#control-panel > footer > div#about > div > div > div p.sep {
                border-top: solid 1px black;
                margin-top: 1ex;
                padding-top: 1ex; }
              body > nav#control-panel > footer > div#about > div > div > div > div > ul, body > nav#control-panel > footer > div#about > div > div > div p > ul {
                margin: 0;
                padding: 0 1ex 0 2ex; }
                body > nav#control-panel > footer > div#about > div > div > div > div > ul > li, body > nav#control-panel > footer > div#about > div > div > div p > ul > li {
                  margin-top: 1ex; }
                  body > nav#control-panel > footer > div#about > div > div > div > div > ul > li:first-child, body > nav#control-panel > footer > div#about > div > div > div p > ul > li:first-child {
                    margin-top: 0; }
            body > nav#control-panel > footer > div#about > div > div > div > ul {
              margin: 0;
              padding: 0 1ex 0 3ex; }
              body > nav#control-panel > footer > div#about > div > div > div > ul > li a.one-OPiQuotation {
                background-image: url(../img/one-OPiQuotation-16x16-t.png);
                background-repeat: no-repeat;
                background-position: right center;
                display: inline-block;
                font-family: Comme, Verdana, sans-serif;
                height: 16px;
                line-height: 16px;
                padding-right: 20px; }
            body > nav#control-panel > footer > div#about > div > div > div.close {
              background-color: transparent;
              height: 32px;
              line-height: 32px;
              width: 32px; }
          body > nav#control-panel > footer > div#about > div > div > h3 {
            font-family: Comme, Verdana, sans-serif;
            font-size: large; }
            body > nav#control-panel > footer > div#about > div > div > h3 > a {
              background-image: url(../img/OPiQuotations-32x32-t.png);
              background-repeat: no-repeat;
              background-position: right center;
              color: #606060;
              display: inline-block;
              height: 32px;
              line-height: 32px;
              opacity: 0.9;
              padding-right: 36px; }
              body > nav#control-panel > footer > div#about > div > div > h3 > a:hover {
                color: black;
                opacity: 1; }
          body > nav#control-panel > footer > div#about > div > div > p {
            margin: 0;
            padding: 1ex; }
            body > nav#control-panel > footer > div#about > div > div > p > a.donate {
              float: left;
              line-height: 34px;
              vertical-align: bottom; }
            body > nav#control-panel > footer > div#about > div > div > p > a.opi {
              background-image: url(../img/OPi-t.png);
              background-repeat: no-repeat;
              background-position: right center;
              display: inline-block;
              float: right;
              height: 34px;
              line-height: 34px;
              padding-right: 45px;
              vertical-align: bottom; }
        body > nav#control-panel > footer > div#about > div > h2 {
          background-image: url(../img/OPiQuotations-32x32-t.png);
          background-repeat: no-repeat;
          background-position: right center;
          display: inline-block;
          height: 32px;
          line-height: 32px;
          padding-right: 38px; }
    body > nav#control-panel > form.big-buttons > ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      body > nav#control-panel > form.big-buttons > ul > li > button {
        margin-bottom: 1ex;
        width: 100%; }
      body > nav#control-panel > form.big-buttons > ul > li > div {
        margin-bottom: 1ex;
        text-align: center;
        vertical-align: middle; }
        body > nav#control-panel > form.big-buttons > ul > li > div > ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          margin: 0;
          padding: 0; }
          body > nav#control-panel > form.big-buttons > ul > li > div > ul > li > button {
            padding: 0; }
            body > nav#control-panel > form.big-buttons > ul > li > div > ul > li > button > span {
              display: inline-block;
              height: 3ex;
              line-height: 3ex;
              vertical-align: middle; }
            body > nav#control-panel > form.big-buttons > ul > li > div > ul > li > button[name="selection"] > span {
              background-position: center center;
              background-repeat: no-repeat;
              background-size: 24px 24px;
              height: 24px;
              line-height: 24px;
              vertical-align: middle; }
            body > nav#control-panel > form.big-buttons > ul > li > div > ul > li > button[name="all_marked"] > span {
              background-image: url(../img/paper-clip-35x50-t.png);
              background-size: 100% 100%;
              width: 21px; }
            body > nav#control-panel > form.big-buttons > ul > li > div > ul > li > button[value="Web"] > span {
              background-image: url(../img/Web-t.png);
              width: 24px; }
            body > nav#control-panel > form.big-buttons > ul > li > div > ul > li > button[value="Facebook"] > span, body > nav#control-panel > form.big-buttons > ul > li > div > ul > li > button[value="Twitter"] > span {
              background-image: url(../img/sharing/Twitter-t.png);
              background-position: right center;
              padding-right: 26px; }
            body > nav#control-panel > form.big-buttons > ul > li > div > ul > li > button[value="Facebook"] > span {
              background-image: url(../img/sharing/Facebook-t.png); }
          body > nav#control-panel > form.big-buttons > ul > li > div > ul > li:first-child {
            margin-left: 0; }
    body > nav#control-panel > header#please-don-t-use-IE {
      background-color: #e8e8e8;
      border: 1px solid red;
      font-size: smaller;
      margin: 1ex 0;
      padding: 0.5ex; }
      body > nav#control-panel > header#please-don-t-use-IE > p {
        margin: 0;
        text-align: center; }
    body > nav#control-panel > ul#menu {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      body > nav#control-panel > ul#menu > li {
        margin: 0 0 1ex; }
        body > nav#control-panel > ul#menu > li > a {
          float: right; }
        body > nav#control-panel > ul#menu > li > div {
          line-height: 3ex;
          height: 2.5ex;
          vertical-align: bottom; }
          body > nav#control-panel > ul#menu > li > div > button {
            padding: 0; }
            body > nav#control-panel > ul#menu > li > div > button.list-open {
              float: right; }
        body > nav#control-panel > ul#menu > li > form > input[type="search"] {
          width: 100%; }
        body > nav#control-panel > ul#menu > li.author input, body > nav#control-panel > ul#menu > li.work input {
          background-color: #fdfdd0; }
        body > nav#control-panel > ul#menu > li.nation input {
          background-color: #fdedd0; }
        body > nav#control-panel > ul#menu > li:last-child {
          margin-top: 2ex;
          min-height: 3ex; }
  body > nav#right-panel {
    background-color: #f8f8f8;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    box-shadow: 1ex 1ex 1ex silver;
    bottom: 1ex;
    font-size: large;
    opacity: 0.8;
    padding: 1ex;
    position: fixed;
    right: 0; }
  body .close {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
    font-size: x-large;
    height: 24px;
    line-height: 24px;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 24px; }
    body .close:hover {
      font-weight: bold; }

@media screen and (max-height: 700px) {
  body > nav#control-panel {
    position: absolute; } }
@media screen and (max-width: 750px) {
  body > main {
    padding-left: 3em; }
    body > main > section.maxim > header > nav.id,
    body > main > section.quotation > header > nav.id {
      left: 1em; }
      body > main > section.maxim > header > nav.id > a, body > main > section.maxim > header > nav.id div.sharing,
      body > main > section.quotation > header > nav.id > a,
      body > main > section.quotation > header > nav.id div.sharing {
        margin-left: 1em; }
      body > main > section.maxim > header > nav.id > div.sharing > ul,
      body > main > section.quotation > header > nav.id > div.sharing > ul {
        left: -1em;
        padding-left: 4px;
        padding-right: 4px;
        width: 280px; }
        body > main > section.maxim > header > nav.id > div.sharing > ul > li,
        body > main > section.quotation > header > nav.id > div.sharing > ul > li {
          margin-left: 4px;
          margin-right: 4px; }
      body > main > section.maxim > header > nav.id > ul.selections,
      body > main > section.quotation > header > nav.id > ul.selections {
        right: 5em; }
        body > main > section.maxim > header > nav.id > ul.selections > li,
        body > main > section.quotation > header > nav.id > ul.selections > li {
          margin-left: 1ex; }
          body > main > section.maxim > header > nav.id > ul.selections > li > a,
          body > main > section.maxim > header > nav.id > ul.selections > li > span,
          body > main > section.quotation > header > nav.id > ul.selections > li > a,
          body > main > section.quotation > header > nav.id > ul.selections > li > span {
            color: rgba(0, 0, 0, 0.5);
            padding-right: 0 !important;
            text-align: left;
            width: 20px; }
  body > nav#control-panel {
    left: -15em;
    transition: left 0.25s; }
    body > nav#control-panel > * {
      visibility: hidden; }
    body > nav#control-panel > div.close {
      background-color: #f8f8f8;
      display: block;
      height: 32px;
      line-height: 32px;
      width: 32px; }
    body > nav#control-panel > div#control-panel-right-border {
      display: inline-block;
      visibility: visible; }
    body > nav#control-panel > form.big-buttons > ul > li:first-child > button {
      width: 90%; }
    body > nav#control-panel.opened {
      left: 0; }
      body > nav#control-panel.opened > * {
        visibility: visible; }
      body > nav#control-panel.opened > div#control-panel-right-border {
        display: none; }
    body > nav#control-panel > footer > div#about > div > div {
      bottom: -8em;
      max-width: 360px; } }
@media screen and (max-width: 400px) {
  body > main {
    padding-left: 0; }
    body > main > section.maxim,
    body > main > section.quotation {
      margin-left: 1ex;
      margin-right: 1ex; }
  body > nav#control-panel {
    height: 70px;
    transition: height 0.25s; }
    body > nav#control-panel.opened {
      height: auto; }
    body > nav#control-panel > footer > div#about > div > div {
      left: -1.2em;
      max-width: 330px; } }
@media print {
  body a {
    border-bottom: 0 none; }
    body a:before {
      content: none !important; }
  body > main {
    padding-left: 0; }
    body > main > h1 > a > span {
      background-image: none;
      padding-right: 0; }
    body > main > section.maxim,
    body > main > section.quotation {
      background-color: white;
      border: 1px solid silver;
      box-shadow: none;
      padding: 1ex 1em; }
      body > main > section.maxim *,
      body > main > section.quotation * {
        background-color: white !important; }
      body > main > section.maxim > header > aside.mark,
      body > main > section.quotation > header > aside.mark {
        display: none; }
      body > main > section.maxim > header > nav.id,
      body > main > section.quotation > header > nav.id {
        top: 3ex; }
        body > main > section.maxim > header > nav.id > a.one-OPiQuotation, body > main > section.maxim > header > nav.id div.sharing, body > main > section.maxim > header > nav.id ul.selections,
        body > main > section.quotation > header > nav.id > a.one-OPiQuotation,
        body > main > section.quotation > header > nav.id div.sharing,
        body > main > section.quotation > header > nav.id ul.selections {
          display: none; }
  body > nav {
    display: none; } }
